
:root {
  --cor-principal: #38a754;      /* A cor principal */
  --cor-principal-hover: #166fe5; /* O azul mais escuro  */
  --cor-fundo: #f0f2f5;          /* O cinza claro do fundo das páginas */
  --cor-branco: #ffffff;
  --cor-texto-principal: #1c1e21;
  --cor-texto-secundario: #606770;
  --cor-borda: #dddfe2;
  --cor-sucesso: #42b72a;
  --cor-erro: #fa383e;
}

/* Regras de base para toda a aplicação */
body {
  margin: 0; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cor-fundo); 
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  
  /* Garante o fundo total */
  min-height: 100vh;
  background-color: var(--cor-fundo);
}

button, a, .card-info {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}


input, select, textarea {
  font-size: 16px !important;
}


button:active {
  transform: scale(0.98);
  transition: transform 0.1s;
}


html {
  scroll-behavior: smooth;
}